:root {
    --lightestGrey: #FBFFF9;
    --lightestGreen: #EDF6EF;
    --mediumGreen: #E0EAE2;
    --mediumDarkGreen: #4B6350;
    --darkGreen: #263928;
  }

.eventBtn{

width:100%;

}

iframe{
border: dashed #263928 5px;
}