.box2{
    display: inline-block;
    width: 35vw;
    height: 40vh;
    margin-left: 2vw;
    margin-top: 10vh;
    align-self: center;
    /* Tiny Gray */
    background: #E0EAE2;
    border: 1px black;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: scroll;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
#namelabel2{
    padding-top: 2vh;
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
}
.tables{
    border: 1px solid black;
    margin-left: 10%;
    margin-top: 5%;
    width: 35%;
    font-weight: bold;
    display: inline-table;
    font-size: 1.8vh;
}
tr,td{
    border: 1px solid black;
}
.range{
    width: 80%;
}

