.App2{
  text-align: center;
}
.App-header2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  width: 100vw;
  height: 15vh;
  
  /* Tiny Gray */
  background: #FBFFF9;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .nameEnc2{
  /* flex-direction: row; */

  /* padding: 24px 29px; */
  
  
  width: 100vw;
  height: 10vh;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }
  #name2 {
    font-size: 8vh;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  margin-top: 3vh;
  /* font-weight: 700; */
 
  /* line-height: 120%; */
  /* margin-right: auto; */
  /* identical to box height, or 60px */
  /* display: flex; */
 
  text-align: center;
  letter-spacing: 0.01em;
  
  /* Darkest Green */
  color: #263928;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .Form2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 2vh;

width: 100vw;

height: 75vh;
/* position: absolute; */
/* papers */
background: linear-gradient(0deg, rgba(194, 255, 211, 0.2), rgba(194, 255, 211, 0.2)), url(backgroundimage.jpg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
  }
  .RealForm2{
    width: 40%;
height: 90%;

align-self: center;
/* Tiny Gray */
background: #FBFFF9;
border: 1px black;
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
overflow-y: scroll;
  }

#signin{
 
  
  /* position: absolute; */
  /* width: 182px;
  height: 10px;
  left: 255px; */
  margin-top: 5%;
  margin-bottom: 8%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 5vh;
  /* line-height: 130%; */
  /* or 62px */
  /* display: flex; */
  /* align-items: center;
  text-align: center; */
  /* margin-left: auto;
  margin-right: auto; */
  
  /* Darkest Green */
  color: #263928;

}
.labels2{
  font-weight: bold;
  margin-bottom: 2%;
  margin-right: 47%;
}
.inputs2{
  height: 3vh;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 1%;
    width: 60%;
    border-color: #263928;
}
#noAccount{
  font-size: 15px;
  color: #263928;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0vh;
}
#signinButton{
  /* display: flex; */
flex-direction: column;
align-items: center;
padding: 2%;
margin-top: 1%;
margin-left: auto;
margin-right: auto;
margin-bottom: 0%;
cursor: pointer;


background: #263928;
border-color: #FBFFF9;
border-radius: 5px;
color:white;
font-size: 1rem;
/* Inside auto layout  */
flex: none;
order: 0;
flex-grow: 0;
}
#signupButton2{
  flex-direction: column;
align-items: center;
padding: 2%;
margin-top: 1%;
margin-left: auto;
margin-right: auto;
margin-bottom: 5%;
cursor: pointer;


background: #FBFFF9;
border-radius: 5px;
border-color: #263928;
color:#263928;
font-size: 1rem;
/* Inside auto layout  */
flex: none;
order: 0;
flex-grow: 0;
}
label, input {display: block;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #E0EAE2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
