.App{
  text-align: center;
}
  /* WF Header */
  
  /* Auto layout */
  .App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  width: 100vw;
  height: 15vh;
  
  /* Tiny Gray */
  background: #FBFFF9;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .nameEnc{
  /* flex-direction: row; */

  /* padding: 24px 29px; */
  
  
  width: 100vw;
  height: 10vh;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }
  #name {
    font-size: 8vh;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  margin-top: 3vh;
  /* font-weight: 700; */
 
  /* line-height: 120%; */
  /* margin-right: auto; */
  /* identical to box height, or 60px */
  /* display: flex; */
 
  text-align: center;
  letter-spacing: 0.01em;
  
  /* Darkest Green */
  color: #263928;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .Form{
    
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-top: 2vh;

width: 100vw;

height: 75vh;
/* position: absolute; */
/* papers */
background: linear-gradient(0deg, rgba(194, 255, 211, 0.2), rgba(194, 255, 211, 0.2)), url(backgroundimage.jpg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
  }
  .RealForm{
    
    width: 40%;
height: 90%;
align-self: center;
/* Tiny Gray */
background: #FBFFF9;
border: 1px black;
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
  }
  
  #signup{
    /* Sign Up */
  
  /* position: absolute; */
  /* width: 182px;
  height: 10px;
  left: 255px; */
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 5vh;
  line-height: 130%;
  /* or 62px */
  /* display: flex; */
  /* align-items: center;
  text-align: center; */
  /* margin-left: auto;
  margin-right: auto; */
  
  /* Darkest Green */
  color: #263928;
  
  }
  .labels{
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5vh;
    font-size: 3vh;
    margin-left: 19%;
  }
   .inputs{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    font-size: 2vh;
    width: 60%;
    height: 3vh;
    border-color: #263928;
  } 
  #signupButton{
    /* display: flex; */
  /* flex-direction: column; */
  padding: 1vh;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 2vh;
  /* position: absolute; */
  
   /* Darkest Green */
  
  /* Writing */
  
  background: #263928;
  border-radius: 1vh;
  color:white;
  font-size: 3vh;
  margin-top: -2vh;
  /* Inside auto layout  */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  label, input {display: block;}
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  /* .App-header {
    background-color: #E0EAE2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
  
  /* .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  