:root {
    --lightestGrey: #FBFFF9;
    --lightestGreen: #EDF6EF;
    --mediumGreen: #E0EAE2;
    --mediumDarkGreen: #4B6350;
    --darkGreen: #263928;
  }

.box2{
    display: inline-block;
    width: 32vw;
    height: 52vh;
    margin-left: 2vw;
    margin-top: 2vh;
    align-self: center;
    /* Tiny Gray */
    background: #E0EAE2;
    border: 1px black;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: scroll;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 2vh 4vw 2vh 3vw;
}

.box2::-webkit-scrollbar {
    display: none;
}
#namelabel2{
    padding-top: 2vh;
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
    font-family: 'Inter';
    color: var(--darkGreen);
}
.tables{
    border: 1px solid black;
    margin-left: 10%;
    margin-top: 5%;
    width: 35%;
    font-weight: bold;
    display: inline-table;
    font-size: 1.8vh;
}
tr,td{
    border: 1px solid black;
}
.range{
    width: 80%;
}

