:root {
    --lightestGrey: #FBFFF9;
    --lightestGreen: #EDF6EF;
    --mediumGreen: #E0EAE2;
    --mediumDarkGreen: #4B6350;
    --darkGreen: #263928;
  }

.box3{
    display: inline-block;
    width: 39vw;
    height: 40vh;
    margin-left: 2vw;
    margin-top: 2vh;
    align-self: center;
    /* Tiny Gray */
    background: var(--lightestGreen);
    border: 1px var(--darkGreen);
    border-radius: 15px;
    overflow-y: scroll;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.box3::-webkit-scrollbar {
    display: none;
}
#namelabel3{
    padding-top: 2vh;
    font-weight: bold;
    text-align: center;
    font-family: 'Inter';
    color: var(--darkGreen);
    font-size: 4vh;
}
.table3{
    border: 1px solid var(--darkGreen);
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    font-weight: bold;
    font-size: 1.8vh;
}
#itemForFields{
    border: 1px solid var(--darkGreen);
    width: 80%;
}