.file-list {
    /* border: 3px dotted black; */
    display: grid;
    gap: 3%;
    grid-template-columns:repeat(3,1fr);
    width: 94%;
    margin: 3%;
    /* border: 3px dotted black; */
}
  
.file-list img {
    height: 100%;
    width: 100%;
    padding: 1%;
    object-fit: cover;
    border-radius: 8px;
}
