.box{
    display: inline-block;
    width: 35vw;
    height: 40vh;
    margin-left: 2vw;
    margin-top: 10vh;
    align-self: center;
    /* Tiny Gray */
    background: #E0EAE2;
    border: 1px black;
    border-radius: 15px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    overflow-y: scroll;
    overflow-x: scroll;
}
/* .inlineForGood{
    display: flex;
    justify-content: space-between;
} */
#namelabel{
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
    padding-top: 2vh;
}
.infoList{
    margin-top: 5%;
    /* line-height: 5vh; */
    font-size: 1.8vh;
    font-weight: bold;
    border: 1px solid black;
    margin-left: 10%;
    width: 80%;
    /* bottom: 5%; */
}

#fieldForTeacher{
    width: 30%;
}
